﻿@{
    ViewBag.Title = "Home Page";
}

<br />
<br />

<p>XML Content</p>

<pre>@ViewBag.xmlContent</pre>

<br />

<div class="row">
    <div class="col-md-6">
        <p>Deflate And Base64 Encode</p>

        <pre style="height: 200px;">@ViewBag.DefAndBase64EncodeRequest</pre>
    </div>

    <div class="col-md-6" >
        <p>SAML Request</p>
        
        <pre id="sampRequest" style="height: 200px;">@ViewBag.SamlRequest</pre>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        <p>RelayState</p>

        <pre id="relayState">@ViewBag.RelayState</pre>
    </div>

    <div class="col-md-6">
        <p>SigAlg</p>

        <pre id="sigAlg">@ViewBag.SigAlg</pre>
    </div>
</div>

<br />

<p>XmlSignature</p>

<pre>@ViewBag.XmlSignature</pre>

<br />

<p>String To Be Sign</p>

<pre>@ViewBag.StringToBeSign</pre>

<br />

<div class="row">
    <div class="col-md-6">
        <p>Signature Base64 Encode</p>

        <pre>@ViewBag.SignatureBase64Encode</pre>
    </div>

    <div class="col-md-6">
        <p>Signature Url Encode</p>

        <pre>@ViewBag.SignatureUrlEncode</pre>
    </div>
</div>

<a href="@ViewBag.SamlAuthRequest">Login</a>