﻿@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #252830;
    font-family: 'Alegreya Sans', sans-serif;
    color: white;
    height: 100%;
}

section {
    width: 560px;
    height: 340px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

    section > p {
        font-size: 30px;
        text-align: center;
    }

form {
    margin-top: 20px;
    background-color: #51586a;
    padding: 50px 50px;
    border: 1px solid #51586a;
    border-radius: 6px;
    height: 300px;
}
